{{>header}}

<div id="slide3" class="slide3">
            <h1>CFA RATES AS PER BELOW</h1>
            <form action="/prices">
            <div class="values">
                <h1>AGRA</h1>
                <input value="{{cfarates.agraCfa}}" id="agra" name="agra" type="text" required >
            </div>
            <div class="values">
                <h1>Chandighar</h1>
                <input value="{{cfarates.chandigharCfa}}" id="chandighar" name="chandighar" type="text" required   >
            </div>
            <div class="values">
                <h1>Damtal</h1>
                <input value="{{cfarates.damtalCfa}}" id="damtal" name="damtal" type="text" required   >
            </div>
            <div class="values">
                <h1>Dehradun</h1>
                <input value="{{cfarates.dehradunCfa}}" id="dehradun" name="dehradun" type="text" required   >
            </div>
            <div class="values">
                <h1>Ex Plant</h1>
                <input value="{{cfarates.ExPlantCfa}}" id="ExPlant" name="ExPlant" type="text" required   >
            </div>
            <div class="values">
                <h1>Delhi</h1>
                <input value="{{cfarates.delhiCfa}}" id="delhi" name="delhi" type="text" required   >
            </div>
            <button>Next</button>
        </div>
        </form>
        {{>footer}}