{{>header}}

    <div id="slide6" class="slide6">
        <div class="agraCfa">
            <h1>Agra {{types}}</h1>
            <h3>{{types}} RATE TIN</h3>
            <span id="cfaRate">{{dataTin}}</span>
            <h3>{{types}} RATE Pouch</h3>
            <span id="cfaRate">{{dataPouch}}</span>
        </div>

{{>footer}}