{{>header}}
        <div id="slide2" class="slide2">
            <h1>FREIGIT RATES AS PER BELOW</h1>
            <form action="/selectOptions" method="get">
            <div class="values">
                <h1>AGRA</h1>
                <input value='{{frieghtrates.agraFrigit}}' id="agra" name="agra" type="text" >
            </div>
            <div class="values">
                <h1>Chandighar</h1>
                <input value='{{frieghtrates.chandigharFrigit}}' id="chandighar" name="chandighar" type="text"   >
            </div>
            <div class="values">
                <h1>Damtal</h1>
                <input  value='{{frieghtrates.damtalFrigit}}' id="damtal" name="damtal" type="text"   >
            </div>
            <div class="values">
                <h1>Dehradun</h1>
                <input value='{{frieghtrates.dehradunFrigit}}' id="dehradun" name="dehradun" type="text"   >
            </div>
            <div class="values">
                <h1>Ex Plant</h1>
                <input value='{{frieghtrates.ExPlantFrigit}}'   id="ExPlant" name="ExPlant" type="text"   >
            </div>
            <div class="values">
                <h1>Delhi</h1>
                <input value='{{frieghtrates.delhiFrigit}}' id="delhi" name="delhi" type="text"   >
            </div>
            <button>Next</button>
            </form>
        </div>
{{>footer}}