{{>header}}
<div id="slide4" class="slide4">
            <h1>Direct RATES AS PER BELOW</h1>
            <form action="/direct">
            <div class="values">
                <h1>AGRA</h1>
                <input value="{{rates.agraDirect}}" id="agra" name="agra" type="text" required >
            </div>
            <div class="values">
                <h1>Chandighar</h1>
                <input value="{{rates.agraDirect}}" id="chandighar" name="chandighar" type="text" required   >
            </div>
            <div class="values">
                <h1>Damtal</h1>
                <input value="{{rates.agraDirect}}" id="damtal" name="damtal" type="text" required   >
            </div>
            <div class="values">
                <h1>Dehradun</h1>
                <input value="{{rates.agraDirect}}" id="dehradun" name="dehradun" type="text" required   >
            </div>
            <div class="values">
                <h1>Ex Plant</h1>
                <input value="{{rates.agraDirect}}" id="ExPlant" name="ExPlant" type="text" required   >
            </div>
            <div class="values">
                <h1>Delhi</h1>
                <input value="{{rates.agraDirect}}" id="delhi" name="delhi" type="text" required  >
            </div>
            <button>Next</button> 
        </div>
        </form>

{{>footer}}
